body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 33.33%;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  ul {
    list-style-type: disc;
    color: #666;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  img{
    width: 100%;
  }